GEOSUPPORT_RELEASE=@@geosupport_release@@
GEOSUPPORT_MAJOR=@@geosupport_major@@
GEOSUPPORT_MINOR=@@geosupport_minor@@
GEOSUPPORT_PATCH=@@geosupport_patch@@

# Trailing "/" required
GEOFILES=/opt/geosupport/current/fls/
GEOSUPPORT_BASEDIR=/opt/geosupport
GEOSUPPORT_HOME=/opt/geosupport/current
GS_LIBRARY_PATH=/opt/geosupport/current/lib
GS_INCLUDE_PATH=/opt/geosupport/current/lib
