#
# Docker environment file
#

# Trailing "/" required
GEOFILES=@geosupport_basedir@/current/fls/
GEOSUPPORT_BASEDIR=@geosupport_basedir@
GEOSUPPORT_HOME=@geosupport_basedir@/current
GS_BIN_PATH=@geosupport_basedir@/current/bin
GS_INCLUDE_PATH=@geosupport_basedir@/current/include
GS_LIBRARY_PATH=@geosupport_basedir@/current/lib
