#!/usr/bin/env bash

# Trailing "/" required
export GEOFILES=@geosupport_basedir@/current/fls/
export GEOSUPPORT_BASEDIR=@geosupport_basedir@
export GEOSUPPORT_FULLVERSION=@geosupport_fullversion@
export GEOSUPPORT_HOME=@geosupport_basedir@/current
export GS_BIN_PATH=@geosupport_basedir@/current/bin
export GS_INCLUDE_PATH=@geosupport_basedir@/current/include
export GS_LIBRARY_PATH=@geosupport_basedir@/current/lib
