# geosupport-docker v@release_majorminor@

Dockerfiles for installing, configuring and using the NYC Department of City Planning's Geosupport application from a Docker container.

## NEWS

The latest news about this project.

### @release_date@

* **Version 2.0.10 available.** This release wraps `Geosupport @geosupport_fullversion@`.

  **CHANGES:**

  * Feature
  * Issue #
